@model List<FurloughDetailViewModel>
<table class="table table-head-fixed text-nowrap" id="tbl-nghiphep">
    <thead class="isd-table-header">
        <tr>
            <th class="text-center" style="width:10%">@LanguageResource.Check</th>
            <th  style="width:20%">@LanguageResource.DayOff</th>
            <th  style="width:30%">@LanguageResource.TypeDate</th>
            <th class="">@LanguageResource.Note</th>
        </tr>
    </thead>
    <tbody >
        @if (Model != null && Model.Count() > 0)
        {
            int i =0;
            foreach (var item in Model)
            {
                <tr>
                    <td >
                        @{
                            string Checked = Model[i].Check ? "Checked" : "";
                        }
                        <input name="checkID" type="checkbox" style="width:15px;height:15px" class="funcChkBox" @Checked data-hidden="FurloughDetailCheck_@i">
                        <input type="hidden" name="FurloughDetail[@i].Check" value="@Model[i].Check.ToString().ToLower()" id='FurloughDetailCheck_@i' />
                        <input type="hidden" name="FurloughDetail[@i].FurloughId" value="@item.FurloughId" />
                    </td>
                    <td>
                        <input type="hidden" name="FurloughDetail[@i].DayOff" value="@item.DayOff" />
                        <input type="text" value="@Model[i].DayOff.ToString("dd/MM/yyyy")" class="form-control" readonly>
                    </td>
                    <td>
                        <input type="hidden" name="FurloughDetail[@i].TypeDate" value="@item.TypeDate" id="TypeDate_@i" />
                        @Html.DropDownList(Model[i].TypeDate, new SelectList(ViewBag.TypeDate, "TypeDate", "TypeDateName", Model[i].TypeDate), htmlAttributes: new { @class = "form-control TypeDateChange", @id = i.ToString(), @onchange = "DayoffCategory(this)" })
                    </td>
                    <td>@Model[i].Note</td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>