@model FurloughViewModel

@Html.Partial("~/Areas/HRMS/Views/EmployeeInfo/_EmployeeInfo.cshtml", Model.Employee)
<div class="row">
    <div class="col-lg-4">
        @Html.TooltipLabelForRequired(p => p.FromDate)
        @Html.RequiredDateboxFor(p => p.FromDate, new { htmlAttributes = new { @class = "form-control", type = "date", onchange = "AddDays()" } })
    </div>
    <div class="col-lg-4">
        @Html.TooltipLabelForRequired(p => p.ToDate)
        @Html.RequiredDateboxFor(p => p.ToDate, new { htmlAttributes = new { @class = "form-control", type = "date", onchange = "AddDays()" } })
    </div>
    <div class="col-lg-4">
        @Html.TooltipLabelForRequired(p => p.LeaveCategoryId)
        @Html.RequiredDropDownListFor(p => p.LeaveCategoryId, null, LanguageResource.Dropdownlist_All, new { @class = "form-control with-search" })
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @Html.TooltipLabelForRequired(p => p.Reason)
        @Html.RequiredTextAreaFor(p => p.Reason, new { @class = "form-control" })
    </div>
</div>
