@model FurloughViewModel
@{
    ViewBag.Title = LanguageResource.Create + " " + LanguageResource.FurloughModel;
    string CurrentController = ConstController.FurloughModel;
    string CurrentArea = ConstArea.HRMS;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);

    var dd = Model;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <h4> @ViewBag.Title @HtmlExtensions.BackButton(CurrentArea, CurrentController)</h4>
                </div>
                <div class="col-sm-8">
                    <div class="float-right">
                        @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
                        @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmCreate" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-edit"></i> Thông tin dữ liệu</h3>
                        </div>
                        <div class="card-body">
                            @Html.Partial("_Furlough")
                        </div>
                        <div class="col-lg-12">
                            <div class="card card-primary card-outline">
                                <div class="card-body table-responsive">
                                    <div id="detailLst">@Html.Partial("_FurloughDetailInfo", Model.FurloughDetail)</div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                }
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
@section ScriptsFile {
    <script src="~/Scripts/common/Furlough.js"></script>
}
@section CustomScripts {
    <script>
        $(document).ready(function () {
            Portal.CreateInitial("@CurrentUrl");
            Portal.TableEdit("tbl-nghiphep", -1, 0, 0, "api");
        });
    </script>
}