@model FurloughViewModel
@{
    ViewBag.Title = LanguageResource.Btn_View + " " + LanguageResource.FurloughApproval;
    string CurrentController = ConstController.FurloughApproval;
    string CurrentArea = ConstArea.HRMS;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <h4> @ViewBag.Title @HtmlExtensions.BackButton(CurrentArea, CurrentController)</h4>
                </div>
                <div class="col-sm-8">
                    <div class="float-right">
                        @HtmlExtensions.ApprovalButton(CurrentArea, ConstController.FurloughApproval, Model.FurloughId)
                        @HtmlExtensions.CancelButton(CurrentArea, ConstController.FurloughApproval, Model.FurloughId)
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmEdit" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(p => p.FurloughId)
                    <div class="card card-primary card-tabs">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-one-chung-tab" data-toggle="pill" href="#custom-tabs-one-chung" role="tab" aria-controls="custom-tabs-one-chung" aria-selected="true">Thông tin dữ liệu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-bosung-tab" data-toggle="pill" href="#custom-tabs-one-bosung" role="tab" aria-controls="custom-tabs-one-bosung" aria-selected="false">Thông tin duyệt</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="custom-tabs-one-chung" role="tabpanel" aria-labelledby="custom-tabs-one-chung-tab">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            @Html.Partial("~/Areas/HRMS/Views/FurloughModel/_Furlough.cshtml")
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card card-primary card-outline">
                                                <div class="card-body table-responsive">
                                                    <div id="detailLst">  @Html.Partial("~/Areas/HRMS/Views/FurloughModel/_FurloughDetailInfo.cshtml", Model.FurloughDetail)</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-bosung" role="tabpanel" aria-labelledby="custom-tabs-one-bosung-tab">
                                    @Html.Partial("_AppHistory", Model.AppHistory)
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                }
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
@section CustomScripts {
    <script>
        //load default and set event
        $(document).ready(function () {
            Portal.Approval();
            Portal.Cancel();
            document.getElementById("FromDate").disabled = true;
            document.getElementById("ToDate").disabled = true;
            document.getElementById("btn-search-employee").disabled = true;
        });
    </script>
}