@model IEnumerable<Education>
@{
    string CurrentController = ConstController.Education;

    string CurrentArea = ConstArea.MasterData;
}
<table id="data-list" class="table table-head-fixed text-nowrap">
    <thead>
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.EducationName)</th>
            <th>@Html.DisplayNameFor(p => p.Description)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.Actived)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.EducationName)</td>
                <th>@Html.DisplayFor(p => item.Description)</th>
                <td class="text-center">@HtmlExtensions.ActivedIcon(item.Actived)</td>
                <td class="text-center">
                    @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.EducationId)
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.EducationName, item.EducationId)
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(function () {
        Portal.TableEdit();
    });
</script>